<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All plans to coaches
    </h1>

    <a href="/plans_to_coaches/new" class="btn btn-block btn-outline-secondary">
      Add a new plans to coach
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "plans_to_coach_templates/plans_to_coaches_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Plan
        </th>

        <th>
          Coach
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @plans_to_coaches.each do |plans_to_coach| %>
      <tr>
        <td>
          <%= plans_to_coach.id %>
        </td>

        <td>
          <% if plans_to_coach.plan.present? %>
            <a href="/plans/<%= plans_to_coach.plan.id %>">
              <%= plans_to_coach.plan.plan_name %>
            </a>
          <% end %>
        </td>

        <td>
          <% if plans_to_coach.coach.present? %>
            <a href="/coaches/<%= plans_to_coach.coach.id %>">
              <%= plans_to_coach.coach.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(plans_to_coach.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(plans_to_coach.updated_at) %> ago
        </td>

        <td>
          <a href="/plans_to_coaches/<%= plans_to_coach.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @plans_to_coaches, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
