<h1>
  Edit action step #<%= @action_step.id %>
</h1>

<hr>

<form action="/update_action_step/<%= @action_step.id %>" method="post">

  <div class="form-group">
    <label for="action_step">
      Action step
    </label>

    <input type="text" id="action_step" name="action_step" class="form-control" value="<%= @action_step.action_step %>">
  </div>

  <div class="form-group">
    <label for="target_date">
      Target date
    </label>

    <input type="text" id="target_date" name="target_date" class="form-control" value="<%= @action_step.target_date %>">
  </div>

  <div class="form-group">
    <label for="lead_person">
      Lead person
    </label>

    <input type="text" id="lead_person" name="lead_person" class="form-control" value="<%= @action_step.lead_person %>">
  </div>

  <div class="form-group">
    <label for="resources_needed">
      Resources needed
    </label>

    <input type="text" id="resources_needed" name="resources_needed" class="form-control" value="<%= @action_step.resources_needed %>">
  </div>

  <div class="form-group">
    <label for="specifics">
      Specifics
    </label>

    <input type="text" id="specifics" name="specifics" class="form-control" value="<%= @action_step.specifics %>">
  </div>

  <div class="form-group">
    <label for="goal_id">
      Goal
    </label>

    <%= select_tag(:goal_id, options_from_collection_for_select(Goal.all, :id, :goal_text, @action_step.goal_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="measures_of_success">
      Measures of success
    </label>

    <input type="text" id="measures_of_success" name="measures_of_success" class="form-control" value="<%= @action_step.measures_of_success %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update action step
  </button>
</form>

<hr>

<a href="/action_steps">
  Go back
</a>
